<a href="https://colab.research.google.com/github/Ucet786/hello-world/blob/master/Iris_LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [0]:
data = pd.read_csv("/content/drive/My Drive/iris.csv",sep = ',')

In [0]:
X = data.iloc[0:, 0:4].values
y = data.iloc[:, 5:6].values
data.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species  label
140           6.7          3.1           5.6          2.4  virginica      2
141           6.9          3.1           5.1          2.3  virginica      2
142           5.8          2.7           5.1          1.9  virginica      2
143           6.8          3.2           5.9          2.3  virginica      2
144           6.7          3.3           5.7          2.5  virginica      2
145           6.7          3.0           5.2          2.3  virginica      2
146           6.3          2.5           5.0          1.9  virginica      2
147           6.5          3.0           5.2          2.0  virginica      2
148           6.2          3.4           5.4          2.3  virginica      2
149           5.9          3.0           5.1          1.8  virginica      2

In [0]:
len(X)

150

In [0]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.25)

In [0]:
clf=GaussianNB().fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [0]:
pr = clf.predict(x_test)

In [0]:
def prediction(x):
  if (pr[x] <= 0):
    print("setosa")
  elif (1.5>=pr[x] >= 1  ):
    print("virginica")
  else:
    print("versicolor	")

In [0]:
prediction(10)

versicolor